nav(class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded")
  a.navbar-brand(href='/#') Lovelace Insights
  .collapse.navbar-collapse
    .navbar-nav
      a(class="nav-item nav-link" href="/") Home
