doctype html
html
  head
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include partials/_navbar.jade
    .wrapper(style="padding-top: 75px; padding-bottom: 75px;")
      block content
    script(src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js")
    script.
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB8vH_BrzYqVbeLDnhRZUXPFRLkT21595E",
        authDomain: "my-awesome-project-45a36.firebaseapp.com",
        databaseURL: "https://my-awesome-project-45a36.firebaseio.com",
        storageBucket: "my-awesome-project-45a36.appspot.com",
        messagingSenderId: "999885741632"
      };
      firebase.initializeApp(config);
