extends ../layout

block content
  .container
    h3(style="color: blue;") Container Instance: a35544bddef32
    .row
      //would pass the loaded instance with stages
      .col-md-12
        table.table
          thead
            tr
              th Start Time
              th Close Time
              th Associate Company
              th Company Contact
              th Employee
              th Data
        //- h4 Activity Log
        //- ul.list-group
        //-   li.list-group-item
        //-     table.table
        //-       thead
        //-         tr
        //-           th Test
        //-           th Test 2
        //-           th Test 3
        //-       tbody
        //-         tr
        //-           td 1
        //-           td 2
        //-           td 3
        
